.btn-rarity {
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 100px;
  padding: 10px;
  font-size: 1.5rem;
  box-shadow: 0 0 0 4px rgb(109 73 255 / 40%), 0 -8px 0 0 rgb(109 73 255 / 20%),
    -8px 0 0 0 rgb(109 73 255 / 20%), 8px 0 0 0 rgb(109 73 255 / 40%),
    0 8px 0 0 rgb(109 73 255 / 40%);
  border: none;
  background-color: #7f7cb4;
}
