.team .card {
  background: #5db6c1 !important;
  transition: 300ms;
}

.team .card img {
  padding: 5px;
  border-radius: 10px;
}

.team p {
  font-family: "Roboto Mono", monospace;
}

.team h5 {
  font-size: 1rem;
}

.team .card:hover {
  transform: scale(1.1);
}
