.roadmap {
  background-color: #040405;
  position: relative;
}

.roadmap h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: red;
  font-size: 2.5rem !important;
}

.roadmap img {
  display: block;
  margin: 0 auto;
}

.custom-shape-divider-bottom-1644075407 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644075407 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1644075407 .shape-fill {
  fill: #28282f;
}

@media only screen and (max-width: 1000px) {
  .roadmap h1 {
    font-size: 1.7rem !important;
    text-shadow: 1px 1px #8d2424;
  }
}
