.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(../../assets/images/banner2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead h1 {
  font-family: "Spartan", sans-serif;
  color: red;
}

nav h3 {
  font-family: "God", Courier, monospace;
  padding-top: 10px;
  color: red;
  text-shadow: 2px 2px #8d2424;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  color: white !important;
  text-shadow: 0.5px 0.5px #0c0c0c;
  font-size: 1.5rem !important;
  font-weight: bold;
}

.navbar-nav a:hover {
  text-shadow: 2px 2px #110808;
  color: red !important;
  border-bottom: 2px solid red;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  }
}
