.masthead {
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url("../../assets/images/background.jpg"); */
}

.masthead .desc {
  font-size: 1rem;
  color: black;
  text-shadow: 1px 1px white;
}

.masthead h1 {
  color: #ec8222;
}

.navbar {
  border-bottom: 1px solid white;
}

.nav-link {
  color: white !important;
  text-shadow: 0.5px 0.5px #0c0c0c;
  font-size: 1rem !important;
  font-weight: bold;
}

.navbar-nav a:hover {
  text-shadow: 2px 2px #110808;
  color: #ec8222 !important;
  border-bottom: 2px solid #ec8222;
}

@media only screen and (max-width: 1000px) {
  .masthead .desc {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .left {
    margin-top: 7rem;
  }

  .masthead .gif {
    margin: 0 auto !important;
  }
}

@media only screen and (min-width: 1000px) {
  .masthead {
    height: 100vh;
  }
}
