.about {
  background: url(../../assets/images/bg.jpg);
  position: relative;
  background-size: cover;
}

.about h1 {
  font-size: 2.5rem !important;
  font-family: "God", Courier, monospace;
  color: red;
}

.logo-trading {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.custom-shape-divider-bottom-1643483443 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643483443 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.custom-shape-divider-bottom-1643483443 .shape-fill {
  fill: #ffffff;
}

@media only screen and (max-width: 1000px) {
  .about h1 {
    font-size: 1.7rem !important;
    text-shadow: 1px 1px #8d2424;
  }
}
