@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "VT323", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #93b15a;
  color: #ffffff;
}

h1 {
  font-size: 4rem;
}

.t-shadow {
  text-shadow: 2px 2px #0a0a0a;
}

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 2.5rem;
  }
}
