.faq p {
  font-family: "Balsamiq Sans", cursive;
  color: white;
  font-weight: bold;
}

.faq h4 {
  color: #dd7936;
}

.faq li {
  color: #f87315;
}

.card-faq {
  background: rgba(39, 94, 212, 0.3);
  border-radius: 10px;
}

@media only screen and (min-width: 1115px) {
  .faq {
    scroll-margin-top: 3rem;
  }
}
