.faq h1 {
  color: #ec8222;
  font-size: 2.5rem !important;
  font-weight: bold;
}

.faq {
  background-image: url("../../assets/images/grass.png");
  background-size: cover;
}

.faq .panel {
  border-bottom: 1px solid rgb(250, 247, 247);
  padding: 5px;
}

.faq .panel-default > .panel-heading {
  border: 0;
  padding: 0;
  border-radius: 10px;
}

.faq .panel-default .panel-title a {
  display: block;
  font-size: 2rem;
  color: #ec8222 !important;
  text-decoration: none;
  text-shadow: 1px 1px #0c0c0c;
}

.faq .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 2rem;
  content: "\f106";
  color: white;
  float: right;
  margin-top: -12px;
}

.faq .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.faq .panel-default .panel-body {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
  .faq h1 {
    font-size: 1.7rem !important;
    text-shadow: 1px 1px #8d2424;
  }

  .faq .panel-default .panel-title a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1115px) {
  .faq {
    scroll-margin-top: 6rem;
  }
}
