.faq p {
  font-family: "Roboto Mono", sans-serif;
  color: black;
  font-weight: bold;
}

.faq h4 {
  color: #302e80;
}

.faq li a {
  color: #f87315;
}

.card-faq {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 237, 213, var(--tw-bg-opacity)) !important;
  border-radius: 10px;
}

@media only screen and (min-width: 1115px) {
  .faq {
    scroll-margin-top: 6rem;
  }
}
